#clock {
    position: relative;
}

#clock img {
    position: absolute;
}

#hour {
    position: absolute;
    z-index: 1;
}

#minute {
    position: absolute;
    z-index: 2;
}

#second {
    position: absolute;
    z-index: 3;
}
