#clock {
    position: absolute;
}

#clock img {
    position: absolute;
}

#hour {
    position: absolute;
    transform: rotate(calc(var(--rotation) * 1deg));
    
}

#minute {
    position: absolute;
    transform: rotate();
}

#second {
    position: absolute;
    transform: rotate();
}
