#clock {
    position: absolute;

}

#clock img {
    position: absolute;
}

#hour {
    position: absolute;
    transform: rotate(0deg);
}

#minute {
    position: absolute;
    transform: rotate(0deg);
}

#second {
    position: absolute;
    transform: rotate(0deg);
}
