[data-selector='clock'] [data-selector='bottom'] {}

[data-selector='clock'] [data-selector='top'] {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-selector='clock'] [data-selector='top'] .im_frame {}

[data-selector='clock'] .im_frame.v_face {
  width: 500px;
}

[data-selector='clock'] .im_frame.v_second {
  width: 500px;
  position: relative;
  z-index: 5;
  outline: 5px solid rgba(0, 0, 0, 1);
}

[data-selector='clock'] .im_frame.v_minute {
  position: absolute;
  outline: 5px solid rgba(255, 0, 0, 1);
}

[data-selector='clock'] .im_frame.v_hour {
  position: absolute;
  outline: 5px solid rgba(0, 255, 255, 1);
}

[data-selector='clock'] .clock {
  align-items: center;
}