/* Good Form */

@import 'reset.css';
/* Local Styles */

@import 'fonts.css';
@import 'variables.css';
@import 'utilities.css';
@import 'applied_color.css';
@import 'whitespace.css';
@import 'layout.css';
@import 'images.css';
@import 'buttons.css';

/* Clock Styles */
@import 'clock.css';