#clock {

}

#clock img {
    position: absolute;
    z-index: 0;
}

#face {
}

#hour {
    position: relative;
    z-index: 1;
    transform: rotate(45deg);
}

#minute {
    position: relative;
    z-index: 2;
    transform: rotate(45deg);

}

#second {
    position: relative;
    z-index: 3;
    transform: rotate(45deg);
}
